.gitattributes text eol=lf
.clang-format text eol=lf
LICENSE text eol=lf
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.gitignore text eol=lf
*.cpp text eol=lf
*.cxx text eol=lf
*.cc text eol=lf
*.h text eol=lf
*.hh text eol=lf
*.hpp text eol=lf
*.cu text eol=lf
*.ini text eol=lf
*.mk text eol=lf
Makefile text eol=lf
*.sh text eol=lf
cpp/fastfluent_core/**/block text eol=lf
cpp/fastfluent_core/**/block2d text eol=lf
cpp/fastfluent_core/**/block3d text eol=lf
*.ps1 text eol=crlf
*.png binary
